# The name of the database we're going to backup.
db_name=""

# The Google Drive folder ID where database exports will be uploaded to
gdrive_folder_id=""

# The local directory where we'll be storing database exports
dump_dir="/var/spool/db-dump"

# Date format for dates appended to export files
date_format="%Y-%m-%d_%H:%M:%S"

# Number of days to retain backups
retention_days=14
# Whether to delete remote exports after $retention_days (1 = true, 0 = false)
delete_remote_exports=1

# Options to pass to the mysqldump command
mysql_opts=""
